@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    padding: 20px;
    background: transparent;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    border: 1px solid lightblue;
    color: lightblue;
}