img {
    position: absolute;
    top: 5px;
    left: 250px;
    width: 250px;
    height: 200px;
}

/* .hider {
    background: chocolate;
    position: absolute;
    top: 12px;
    left: 269px;
    width: 32px;
    height: 10px;
    display: none;
} */